body {
	background: #000;
	margin: 0;
}

/* CSS for Header*/

header {
	background: #181818;
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
	border-right: 15px solid #FF2A06;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
  	top: -100%;
  	transition: top 1s ease-in-out;
  	box-sizing: border-box;
}

.x {
	height: 50%;
}

.img-responsive {
	height: auto;
	width: auto;
	max-width: 250px;
	max-height: 72px;
	vertical-align: middle;
	margin: 5%;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: #181818;
	width: 100%;
	transform: scale(1,0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
	font-family: century-gothic;
	letter-spacing: 0.15em;
	font-weight: normal;
	font-size: 0.9em;
}

nav a:hover {
	color: #FD2A05;
}

.nav-toggle:checked ~ nav {
	transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
	
	font-size: .9em;
	font-weight: bolder;
}
.nav-toggle {
	display: none;
}

.nav-toggle-label {
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: #731712;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}

@media screen and (min-width: 800px) {
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	}

	.logo {
		grid-column: 2 / 3;
		color: #FF2A06;
		letter-spacing: 0.1em;
    font-family: century-gothic;
	}

	nav {
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	nav ul {
		display: flex;
	}

	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav a::before {
		content: '';
		display: block;
		height: 5px;
		background: #FF2A06;
		position: absolute;
		top: -.75em;
		left: 0;
		right: 0;
		transform: scale(0, 1);
		transition: transform ease-in-out 250ms;
	}

	nav a:hover::before {
		transform: scale(1,1);
	}
}
/*  */


.pindown {
  top: 0;
}




